apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: sre-app
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      # Filtra para pegar apenas os logs da sua aplicação
      processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

    # REQUISITO: Enviar para o Logstash para processamento Grok
    output.logstash:
      hosts: ["logstash-service:5044"]