apiVersion: apps/v1
kind: Deployment
metadata:
  name: sre-pleno-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sre-pleno-app
  template:
    metadata:
      labels:
        app: sre-pleno-app
    spec:
      volumes:
        - name: applogs
          emptyDir: {}
      containers:
        - name: sre-pleno-app
          image: sre-pleno-app:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: applogs
              mountPath: /app/logs
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 20
