apiVersion: apps/v1
kind: Deployment
metadata:
  name: sre-pleno-app
  namespace: sre-app
  labels:
    app: sre-pleno-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sre-pleno-app
  template:
    metadata:
      labels:
        app: sre-pleno-app
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: app
        image: sre-pleno-app:v4
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: app-logs
          mountPath: /app/logs
      volumes:
      - name: app-logs
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: sre-pleno-app-service
  namespace: sre-app
spec:
  selector:
    app: sre-pleno-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP